@import "./global.css";

footer {
    background-color: var(--color-red);
    height: 45px;
    line-height: 45px;
}
footer p {
    color: var(--color-white);
    font-family: "Spline Sans";
    font-size: 14px;
}