<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../assets/styles/layouts/header-client.css">
        <title>header-client page</title>
    </head>
    <body>
        <head>
            <div class="header">
                <div class="header-mizdooni-logo ">
                    <a href="../../pages/home.html">
                        <img src="../../assets/images/Logo.png" alt="Mizdooni Logo">
                    </a>
                </div>
                <div class="header-mizdooni-motto">
                    <h1>
                        Reserve Table From Anywhere!
                    </h1>
                </div>
                <div class="welcome-client">
                    <h2>
                        Welcome, Client!
                    </h2>
                </div>
                <div class="header-reservation-button">
                    <a class="btn btn-primary" href="#" role="button">
                        My Reservations
                    </a>
                </div>
            </div>
        </head>
    </body>
</html>