@import "./partial/bootstrap.scss";
@import "./partial/normalize.scss";
@import "./partial/font.scss";
@import "./partial/colors.scss";
@import "./partial/header.scss";
@import "./partial/footer.scss";


.home-background {
    background-image: url("../images/homeBackGround.png");
    background-color: #cccccc;
    border-width: 0;
    position: relative;
    top: -100px;
    height: 1000px;
  }
