$white: #ffffff;
$light-dark: #333333;
$red: #ff0000;
$black: #000000;

#header {
	align-items: center;
	width: 100%;
	height: 80px;
	background: $white;
	margin: auto;
	box-shadow: 0px 0px 3px 0px $light-dark;

	.logo {
		height: 60px;
		width: 80px;
		margin-top: 5px;
		margin-left: 20px;
	}

	.header-text {
		text-decoration: none;
		color: $red;
		margin-left: 15px;
		margin-right: 15px;
		font-weight: 400;
		font-size: 20px;
		line-height: 26.07px;
		text-align: center;
	}

	.reserve-button {
		width: 150px;
		height: 45px;
		font-size: 16px;
		color: $white;
		background: $red;
		margin-right: 20px;
	}

	.welcome-user {
		float: right;
		margin-right: 16px;
		color: $black;
		font-weight: 400;
	}
}