@import "bootstrap.scss";
@import "normalize.scss";
@import "font.scss";
@import "colors.scss";
@import "header.scss";
@import "search.scss";
@import "footer.scss";

    
#suggestions-container {
    width: 100%;
  }
  
  body {
    font-family: "SplineSans", serif;
    font-weight: 200;
  }
  
  #suggestions-container .card .location {
    font-weight: 400;
    font-size: 10px;
    line-height: 26.07px;
    color: var(--black);
  }
  
  #suggestions-container .card .location .icon {
    margin-right: 1px;
    width: 8px;
    height: 10px;
  }
  
  #suggestions-container .card .time {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--black);
  }
  
  #suggestions-container .card .time .icon {
    margin-right: 3px;
    margin-left: 3px;
    width: 3px;
    height: 3px;
  }
  
  #suggestions-container .card .time .open {
    color: var(--green);
    font-size: 10px;
  }
  
  #suggestions-container .card .time .closed {
    color: var(--red);
    font-size: 10px;
  }
  
  #suggestions-container .card .rate {
    top: 10px;
    left: 0;
    margin-left: 0;
    display: inline-block;
    background: var(--cream);
    border-radius: 0px 15px 15px 0px;
  }
  #suggestions-container .card #suggestions-container .card-img-top {
    height: 100%;
  }
  #suggestions-container .card .restaurant-img {
    height: 149px;
    width: 200px;
  }
  .col .restaurant-link {
    height: 100%;
  }
  #suggestions-container .card .rate .icon {
    margin-right: 1px;
    margin-left: 1px;
    width: 10px;
    height: 9px;
  }
  
  #suggestions-container .card .review-count {
    color: var(--grey);
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  
  #suggestions-container .card .type {
    color: var(--dark);
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
  
  #suggestions-container .card .name {
    font-weight: 400;
    font-size: 12px;
    height: 45px;
    line-height: 12px;
  }
  
  .input-group .search-input {
    margin-left: 2px;
    margin-right: 20px;
    border-width: 0px;
    height: 45px;
    width: 117px;
    background-color: white;
  }
  .input-group {
    font-size: 14px;
  }
  
  .input-group .restaurant-search {
    background-color: white;
    border-width: 0px;
    width: 253px;
    height: 45px;
  }
  
  .input-group {
    position: relative;
    height: 40px;
    top: 400px;
    color: #303030;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
  }
  .home-background {
    background-image: url("../images/home.png");
    background-color: #cccccc;
    border-width: 0;
    position: relative;
    top: -100px;
    height: 1000px;
  }
  .grid-container {
    display: grid;
  }
  .input-group .search-button {
    width: 90px;
    color: white;
    background-color: #ed3545;
  }
  
  .big-logo {
    position: relative;
    margin-top: -200px;
    margin-left: 7%;
    width: 320px;
    height: 250px;
  }
  
  #table-image {
    margin-top: 100px;
    height: 439px;
    width: 474px;
  }
  #about {
    color: #ed3545;
    font-size: 24px;
  }
  
  #red-text {
    color: #ed3545;
  }