$red: #ff0000;
$white: #ffffff;
$black: #000000;

#footer {
  background-color: $red;
  width: 100%;
  color: $white;
  font-family: "SplineSans", serif;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 0px 4px 0px $black;
}